#!/bin/bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias -- -="cd -"

alias ll="exa --long --all --git"

# For when you forget to sudo
alias please='sudo $(history -p !!)'
alias dammit='sudo $(history -p !!)'

# apply craft config via CLI to avoid YAML annoyances
alias apply_craft_config='php craft project-config/apply'
