#!/usr/bin/env bash

# makes a directory and immediately sets it to cd
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# removes a git branch from origin
function unpush() {
	git push origin --delete "$1";
	echo "Unsetting branch.${1}.remote";
	git config --unset branch."$1".remote;
	echo "Unsetting branch.${1}.merge";
	git config --unset branch."$1".merge
	echo "${1} has been unpushed";
}

# Expects a file name ($1) and a known sha1 checksum ($2) and returns whether the hash is verified
checksum() {
	echo -n "$2 $1" | sha1sum -c -;
}

# Takes a string and returns it in kebab-case (lowercase, with spaces replaced by dashes)
kebab() {
	echo "$@" | awk '{gsub(" ", "-", $0); toLower; print}';
}

# Renames a file ($1) using kebab case
kname() {
	mv "$1" $(kebab $1);
}

# ** ---------------------------------------------------------------------------
# Docker stuff
# ** ---------------------------------------------------------------------------

remove_all_dockers() {
	apt remove docker docker-engine docker.io containerd runc
}
