#!/bin/bash

function mkd() {
	mkdir -p "$@" && cd "$_";
}

function unpush() {
	git push origin --delete "$1";
	echo "Unsetting branch.${1}.remote";
	git config --unset branch."$1".remote;
	echo "Unsetting branch.${1}.merge";
	git config --unset branch."$1".merge
	echo "${1} has been unpushed";
}

checksum() {
	echo -n "$2 $1" | sha1sum -c -;
}

kebab() {
	echo "$@" | awk '{gsub(" ", "-", $0); toLower; print}';
}

kname() {
	mv "$1" $(kebab $1);
}
